/* General */
html, body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    margin-top: -5px;
    width: 100%;
}
  
h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
  
  /* estilos para el Header */
.menu-icon {
    font-size: 24px;
    margin-right: 20px;
}
  
.logo {
    font-weight: bold;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
}

.logo img {
    height: 80px;
    margin-left: -800px;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: -50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
  
.titulo-carrito {
    margin: 20px;
    font-size: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #444;
    border-radius: 5px;
}
  
  /* Formulario */
.formulario .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}
  
.formulario input {
    flex: 1;
    min-width: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
  
  /* Acciones para elegir separar o comprar*/
.acciones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}
  
.accion {
    text-align: center;
}

  
.accion input[type="checkbox"] {
    transform: scale(1.4);
    margin-top: 10px;
}
  
.ticket, .metodo-pago {
    margin-top: 15px;
    background-color: #ffffff;
    padding: 15px 20px;
    border: 2px solid #aaa;
    border-radius: 12px;
    min-width: 200px;
    font-size: 14px;
}
  
.metodo-pago select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
  
  /* Botón Finalizar */
.finalizar {
    text-align: center;
    margin-top: 40px;
}
  
.btn-finalizar {
    background-color: #4CAF50;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.btn-finalizar:hover {
    background-color: #3e8e41;
}
  
  /* Footer */
.footer {
    display: flex;
    justify-content: center;
    gap: 200px;
    background: #222;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
  

.social-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}
  