/* Formulario */
.formulario .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.formulario input {
    flex: 1;
    min-width: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Acciones para elegir separar o comprar*/
.acciones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

.accion {
    text-align: center;
}

.accion input[type="checkbox"] {
    transform: scale(1.4);
    margin-top: 10px;
}

.ticket,
.metodo-pago {
    margin-top: 15px;
    background-color: #ffffff;
    padding: 15px 20px;
    border: 2px solid #aaa;
    border-radius: 12px;
    min-width: 200px;
    font-size: 14px;
}

.metodo-pago select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Botón Finalizar */
.finalizar {
    text-align: center;
    margin-top: 40px;
}

.btn-finalizar {
    background-color: #4caf50;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-finalizar:hover {
    background-color: #3e8e41;
}
