* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f5f5f5;
}

/* Estructura principal */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.main-content {
    margin-left: 220px;
    padding: 30px;
}

/* Información del administrador */
.admin-info {
    margin-bottom: 40px;
    font-size: 30px;
}

.admin-info span {
    font-size: 15px;
    color: #bbb;
}

.admin-info h3 {
    font-size: 20px;
    margin-top: 5px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 10px 0;
    cursor: pointer;
    transition: background 0.3s;
    padding: 8px;
    border-radius: 4px;
}

.menu li:hover,
.menu li.active {
    background-color: #444;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.main-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-content header h2 {
    font-size: 24px;
    color: #333;
}

.btn-nueva {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s;
    width: 100px;
}

.btn-nueva:hover {
    background-color: #218838;
}

.rifas-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rifa-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    height: 300px;
}

.rifa-icon img {
    width: 15rem;
    height: 7rem;
}

.rifa-info p {
    margin-bottom: 5px;
    font-size: 16px;
    padding: 3px;
}

.rifa-boletos {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    max-width: 500px;
}

.rifa-boletos span {
    background-color: #eee;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: 50px;
    text-align: center;
    margin: 6px;
}

.rifa-boletos .vendido {
    background-color: #0fda3e;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: auto;
    margin-left: 20px;
}

.btn-eliminar,
.btn-modificar {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

.btn-eliminar {
    background: #e74c3c;
    color: #fff;
}

.btn-eliminar:hover {
    background: #c0392b;
}

.btn-modificar {
    background: #6c91c2;
    color: #fff;
}

.btn-modificar:hover {
    background: #5579a1;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal.show {
    display: flex;
}

.modal-content {
    background-color: #fff;
    width: 900px;
    max-width: 90%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.modal-content h3 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 23px;
}

.modal-content form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.modal-content label {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: #333;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.btn-agregar {
    grid-column: span 2;
    margin-top: 5px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
    width: 200px;
    margin-left: 325px;
}

.btn-agregar:hover {
    background-color: #0056b3;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: #333;
}

.no-sorteos {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
